---
# Versions: 18
BasedOnStyle: Google
ColumnLimit: 90
AlignArrayOfStructures: Left
AlignConsecutiveBitFields: Consecutive
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: NonAssignment

DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right
QualifierAlignment: Right

Standard: c++20
UseTab: Never
